<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Karyawan</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/form.js}"></script>
</head>
<body>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <img th:src="@{/img/icon-main.png}" width="72" alt="logo" src="">
            <h2>Tambah Karyawan</h2>
        </div>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <img th:src="@{/img/employee.png}" width="300" height="700" alt="manusia" src="">
            </div>
            <div th:if="${duplicateKey}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div style="display : flex; justify-content : center; font-size : 20px">
                        <span th:text="${duplicateKey}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Data Karyawan</h4>
                <form method="post" th:action="@{/karyawan/add}" th:object="${karyawan}" class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="nama" class="form-label">Nama Karyawan</label>
                            <input th:field="*{nama}" type="text" class="form-control" id="nama" placeholder="Nama Karyawan"
                                   required>
                            <div class="invalid-feedback">
                                Nama Wajib Diisi.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="tangalLahir" class="form-label">Tanggal Lahir</label>
                            <div class="input-group has-validation">
                                <input th:field="*{tanggalLahir}" type="date" class="form-control" id="tangalLahir"
                                       max="100" min="18" required>
                                <div class="invalid-feedback">
                                    Umur Wajib Diisi.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <div class="input-group has-validation">
                                <input th:field="*{email}" type="email" class="form-control" id="email" placeholder="Example@example.com"
                                       required>
                                <div class="invalid-feedback">
                                    Email Wajib Diisi.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="telepon" class="form-label">Telepon</label>
                            <div class="input-group has-validation">
                                <input th:field="*{telepon}" type="tel" class="form-control" id="telepon" placeholder="081767875337" required>
                                <div class="invalid-feedback">
                                    Telepon Wajib Diisi.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="pekerjaan" class="form-label">Pekerjaan</label>
                            <div class="input-group has-validation">
                                <select th:field="*{pekerjaan}" class="form-select" id="pekerjaan" required>
                                    <option value="">Pilih...</option>
                                    <th:block th:each="pekerjaan : ${pekerjaanList}">
                                        <option th:value="${pekerjaan.getId()}" th:text="${pekerjaan.getPekerjaan()}"></option>
                                    </th:block>
                                </select>

                                <div class="invalid-feedback">
                                    Telepon Wajib Diisi.
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <h4 class="mb-3">Gaji Pertama Karyawan Baru</h4>
                        <div class="col-md-5">
                            <label for="gaji" class="form-label">Gaji Pokok</label>
                            <input th:field="*{gaji[0].gajiPokok}" type="number" min="0" class="form-control" id="gaji" placeholder="3500000" required>
                            <div class="invalid-feedback">
                                Karyawan Baru Harus Memiliki Gaji Pertama.
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="waktuGaji" class="form-label">Tanggal Gaji Pertama</label>
                            <input th:field="*{gaji[0].waktuGaji}" type="date" class="form-control" id="waktuGaji" required>
                            <div class="invalid-feedback">
                                Karyawan Baru Harus Memiliki Tanggal Gaji Pertama.
                            </div>
                        </div>
                        <hr class="my-4">
                        <button class="w-100 btn btn-primary btn-lg" type="submit" name="tambah" id="tambah">
                            Tambah Karyawan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
<div class="container" style="">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img th:src="@{/img/icon-main.png}" width="40" alt="logo" src="">
            </a>
            <span class="text-muted">&copy; 2023 PT Barokah Tbk</span>
        </div>
    </footer>
</div>
</body>
</html>
